<%= form_with(model: channel, local: true) do |form| %>
  <% if channel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(channel.errors.count, "error") %> prohibited this channel from being saved:</h2>

      <ul>
      <% channel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :channel_name %>
    <%= form.text_field :channel_name %>
  </div>

  <div class="field">
  <%= form.label :channel_type %></a>
  <%= form.select :channel_type, [['Public','public'],['Private','private']] %>
  </div>

  <div class="field"> 
    <%= form.hidden_field :workspace_id %>
  </div> 

  <%= form.submit "Update", class: 'btn btn-primary btn-sm'  %> 

    <%= button_to "Cancel", channels_path, :id => "open-contacts-dialog-btn",
      :class => "btn btn-primary btn-sm", :method => :get %>

  </div>
<% end %>
