<% provide(:title, "ChannelChat") %>
<div class="navv">
  <%= render 'layouts/nav2' %>
</div>

<div class="sidenav">
  <%= render 'layouts/sidebar' %>
</div>

<div class="main">
<h5><%= @channel.channel_name %></h5>
<hr>

<div class="setting">
   <%= link_to t('Edit'), edit_channel_path(@channel), :class => "btn btn-primary btn-sm ", :method => :get %>
   <%= link_to t('Delete'),  @channel, :id => "open-contacts-dialog-btn",
        :class => "btn btn-primary btn-sm ", :method => :delete, data: { confirm: 'Are you sure?' } %>    
    <%= link_to t('Favourite Messages'), '/favourite', :class => "btn btn-primary btn-sm ", :method => :get %>
    <%= link_to t('Add Member'), channel_invite_index_path(@channel), :class => "btn btn-primary btn-sm ", :method => :get %>
</div>

<hr>
<div>
  <p>Group Members:
    <% @chmember.each do |chm| %> 
      <%= chm.user.name %> ,
    <% end %></p>
    <hr>
</div>
<br><br>

<div id="message-container">
<% @messages.each do |message| %> 
  <small> <%= message.user.name %> </small><small> <%= message.created_at %> </small> 
  <div class="alert alert-primary" style="width: 400px;height: 50px;align: left;">
      <%= message.msg_body %>
      <small><%= link_to t('Delete'),  message_path(message), :method => :delete, data: { confirm: 'Are you sure?' } %></small>
      <% if message.starred == true %>
        <%= fa_icon('heart', star_id: message.id, class: 'star_color_red', onclick: 'gofavourite(this)') %>
      <% else %>
        <%= fa_icon('heart', star_id: message.id, class: 'star_color_grey', onclick: 'gofavourite(this)') %>
      <% end %>   
</div>

<%= form_tag("/star", method: "post",id:"form2" ,style:"transform:translate(0,-100%);") do %>
<input type="hidden" name="star_id" id="star_hidden" >
<% end %>
<% end %> 
  </div><br>

<script>
  function gofavourite(a){
      var demo = a.getAttribute("star_id");
      document.getElementById("star_hidden").value = demo;  
      document.getElementById("form2").submit();
  }
</script>

<%= form_with(model: @message) do |f| %>
  <%= f.hidden_field :channel_id, value: @channel.id, name:"channel_id" %>
 
  <div class="form-group">
    <%= f.text_area :msg_body, name:"msg_body",class: 'form-control', placeholder: t('Write Something') %>  
  </div>

  <%= f.submit t('Send'), class: 'btn btn-primary btn-sm' %>
<% end %>


 
