<% provide(:title, "ChannelChat") %>
<div class="navv">
  <%= render 'layouts/nav2' %>
</div>

<div class="sidenav">
  <%= render 'layouts/sidebar' %>
</div>

<div class="main">
<%= @channel.channel_name %>
<hr>

<div class="setting">
   <%= link_to t('Edit'), edit_channel_path(@channel), :class => "btn btn-primary btn-sm ", :method => :get %>
   <%= link_to t('Delete'),  @channel, :id => "open-contacts-dialog-btn",
        :class => "btn btn-primary btn-sm ", :method => :delete, data: { confirm: 'Are you sure?' } %>
  <%= link_to t('Add Member'), channel_invite_index_path(@channel), :class => "btn btn-primary btn-sm ", :method => :get %>
</div>
<br><br>

<div id="message-container">
<% @messages.each do |message| %> 
  <small> <%= message.user.name %> </small><small> <%= message.created_at %> </small>   
  <div class="alert alert-primary" style="width: 400px;height: 50px;align: left;">
      <%= message.msg_body %>
      <small><%= link_to t('Delete'),  message_path(message), :method => :delete, data: { confirm: 'Are you sure?' } %></small>          
  </div><br>
<% end %> 
</div><br><br>




<%= form_with(model: @message) do |f| %>
  <%= f.hidden_field :channel_id, value: @channel.id, name:"channel_id" %>
 
  <div class="form-group">
    <%= f.text_area :msg_body, name:"msg_body", class: 'form-control', placeholder: t('Write Something') %>  
  </div>

  <%= f.submit t('Send'), class: 'btn btn-primary btn-sm' %>
<% end %>
 
