<small> <%= message.user.name %> </small><small> <%= message.created_at %> </small> 
  <div class="alert alert-primary" style="width: 400px;height: 50px;align: left;">
      <%= message.msg_body %>
      <small><%= link_to t('Delete'),  message_path(message), :method => :delete, data: { confirm: 'Are you sure?' } %></small>
      <% if message.starred == true %>
        <%= fa_icon('heart', star_id: message.id, class: 'star_color_red', onclick: 'gofavourite(this)') %>
      <% else %>
        <%= fa_icon('heart', star_id: message.id, class: 'star_color_grey', onclick: 'gofavourite(this)') %>
      <% end %>     
</div>

