<% provide(:title, "Log in") %>
<div class="d-flex justify-content-center">
<div class="col-md-4 col-md-offset-4">
<h1 style="text-align:center">Log in</h1>

  <%= form_for(:session, url: login_path) do |f| %>
      <div class="form-group has-feedback">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      </div>
      
      <div class="form-group has-feedback">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      </div>

      <div class="form-group has-feedback">
      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>Remember me on this computer</span>
        </div>
      <% end %>

      <div class="form-group has-feedback">
      <%= f.submit "Log in", class: "btn btn-primary btn-block" %>
      </div>
    <% end %>

    <div class="form-group has-feedback">
    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
    </div>
</div>
</div>
