<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="">
  
</head>
<body>

<%= render 'layouts/nav2' %>


<div class="d-flex justify-content-center">
<div class="col-md-4 col-md-offset-4">
<h1 align="center"><%= t('Edit Workspace') %></h1>

<%= form_with(model: @workspace, local: true) do |form| %>
    <div class="field">
    <%= form.label :wks_name %>
    <%= form.text_field :wks_name, class: 'form-control' %>
  </div>
  <br>
  <%= form.submit t('Update'), class: 'btn btn-primary btn-sm'  %>   
<% end %>
<br>
<%= button_to t('Delete'),  @workspace, :id => "open-contacts-dialog-btn",
        :class => "btn btn-primary btn-sm ", :method => :delete, data: { confirm: 'Are you sure?' } %>
</div>
</div>
</body>
</html>        
        


