<% provide(:title, "WokspaceList") %>
<%= render 'layouts/nav' %>

<h1 align="center"><%= t('Workspace Lists') %></h1>
<div class="d-flex justify-content-center">
  <div class="col-md-6 col-md-offset-4">
    <div class="col-sm-6"><br>
      <ul class="list-group list-group-flush">
        <li class="list-item"><%= render partial: 'workspace', collection: @workspacelist %> </li>   
      </ul>   
    </div>  
    <br><br>
    <%= link_to t('Create Workspace'), new_workspace_path %>
   <%= paginate  @workspacepage %> 
  </div>
</div>







