<%= render 'layouts/nav2' %>
<div class="d-flex justify-content-center">
<div class="col-md-5 col-md-offset-4">

<h1 style="text-align:center"><%= t('Update Your Profile') %></h1>

  <%= form_for @users do |f| %>

      <%= f.label :"#{ t('name') }" %>
      <%= f.text_field :name, name:"name", class: 'form-control' %>

      <%= f.label :"#{ t('email') }" %>
      <%= f.email_field :email, name:"email",class: 'form-control' %>

      <%= f.label :"#{ t('password') }" %>
      <%= f.password_field :password,name:"password", class: 'form-control' %>

      <%= f.label :"#{ t('password_confirmation') }" %>
      <%= f.password_field :password_confirmation, name:"password_confirmation", class: 'form-control' %>
      <br>
      <%= f.submit t('Update Profile'), class: "btn btn-primary btn-block" %><br> 
      

    <% end %>

    <%= button_to t('Cancel'), workspace_path(@workspace), :id => "open-contacts-dialog-btn",
        :class => "btn btn-secondary btn-block", :method => :get %>

  </div>
</div>