<% provide(:title, 'Sign up') %>
<div class="d-flex justify-content-center">
<div class="col-md-4 col-md-offset-4">
<h1 style="text-align:center"><%= t('Sign up')%></h1>
    
  <%= form_for(@user) do |f| %>
      <div class="form-group has-feedback">
      <%= f.label :"#{ t('name') }" %>
      <%= f.text_field :name, name:"name", class: 'form-control' %>
      </div>
      
      <div class="form-group has-feedback">
      <%= f.label :"#{ t('email') }" %>
      <%= f.email_field :email, name:"email", class: 'form-control' %>
      </div>

      <div class="form-group has-feedback">
      <%= f.label :"#{ t('password') }" %><i><%= t('(6 characters minimum)')%></i>
      <%= f.password_field :password, name:"password", class: 'form-control' %>
      </div>

      <div class="form-group has-feedback">
      <%= f.label :"#{ t('password_confirmation') }" %>
      <%= f.password_field :password_confirmation, name:"password_confrimation", class: 'form-control' %>
      </div>

      <div class="form-group has-feedback">
      <%= f.submit t('Create my account'), class: "btn btn-primary btn-block" %>
      </div>

      <div class="form-group has-feedback">
      <p><%= t('If you have account?') %> &nbsp; <%= link_to t('Login!'), login_path %></p>
      </div>
    <% end %>
  </div>
</div>
