<%= link_to t('Friends') %>
<ul class="list-group list-group-flush"> 
      <% @member.each do |u| %>
        <li class="list-item"><%= link_to u.user.name %></li><br>
      <% end %>  
  </ul>
  <br><br>
  <%= link_to t('Channels'), new_channel_path(:id => @workspace.id) %> 
  <ul class="list-group list-group-flush"> 
      <% @channels.each do |channel| %>
        <li class="list-item"><%= link_to channel.channel_name, channel_path(channel) %></li><br>
      <% end %>  
  </ul>
  <br><br>
  <%= link_to t('Invite Friend'), workspace_wksinvite_index_path(@workspace) %><br><br>  
  <%= link_to t('About') %><br><br>
 
